h1{
        text-align: center;
        font-family: monospace;
        color: #8E8F95;
        font-size: 60px;  
}
h3{
        text-align: center;
        color: #8E8F95;
        font-size: 20px;
        font-family: monospace;
}
p{
        text-align: center;
        font-family: monospace;
        color: #000000;
        font-size: 20px;
}
div{
        text-align: center;
        background-color: #E9B033;
}
body{
        background-color: #000000;
}
a{
        color: #000000;
        font-family: monospace;
        font-size: 30px;
}
img{
        border-radius: 10px;
}