        /*Fuente externa*/
        @import url(https://fonts.googleapis.com/css2?family=Exile&display=swap);

        h1{
                text-align: center;


                
                color: #8E8F95;
                font-size: 40px;
                letter-spacing: 1px;
                cursor: pointer;
                text-transform: capitalize;
                font-style: normal;
        }
        h3{
                text-align: center;
                color: #8E8F95;
                font-size: 20px;
                font-family:'Times New Roman', Times, serif;
                word-spacing: 2px;
                text-transform: lowercase;
        }
        p{
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
        }
        div{
                text-align: center;
                background-color: #E9B033;
        }
        body{
                background-color: #000000;
        }
        a{
                color: #8E8F95;
        }